
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "../_theme-colors.scss" as theme-colors;
@use 'sass:map';

html {
  @include mat.theme((
    color: (
      primary: theme-colors.$primary-palette,
      secondary: theme-colors.$secondary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    /*color: (
      primary: mat.$azure-palette,
      tertiary: mat.$rose-palette,
    ),*/
    typography: Roboto,
    density: 0,
  ));

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
:root {
  @include mat.badge-overrides((
          background-color: orange,
          disabled-state-background-color: red,
          container-size: '40px',
          line-height: '40px',
          text-size: '30px',
  ));
}

/*:root {
  @include mat.button-overrides((
        filled-container-shape: '10px',
        filled-container-height: '140px',
        protected-container-shape: '10px',
        protected-container-height: '140px',
        outlined-container-height: '140px',
        outlined-container-shape: '10px',
  ));
}*/
.accent {
  @include mat.button-overrides((
    /*filled-container-color: var(--mat-sys-tertiary),*/
    filled-container-color: map.get(theme-colors.$tertiary-palette, 50),
    outlined-outline-color: var(--mat-sys-tertiary),
    outlined-label-text-color: var(--mat-sys-tertiary),
    /*protected-container-color: var(--mat-sys-tertiary),*/
    protected-container-color: map.get(theme-colors.$tertiary-palette, 50),
    protected-label-text-color: var(--mat-sys-on-tertiary)
  ))
}

.error {
  @include mat.button-overrides((
          filled-container-color: var(--mat-sys-error),
          outlined-outline-color: var(--mat-sys-error),
          outlined-label-text-color: var(--mat-sys-error),
          /*protected-container-color: var(--mat-sys-error),*/
          protected-container-color: map.get(theme-colors.$error-palette, 40),
          protected-label-text-color: var(--mat-sys-on-error)
  ))
}


